body { 
    font-family: sans-serif; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #f4f4f4; 
} 

header { 
    background-color: #fff; 
    padding: 16px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-size: 20px; 
    border-bottom: 1px solid #ccc; 
    
} 

.return { 
    margin-left:15px;
    font-size: 15px;
} 
.log { 
    justify-content: start; 
    margin-left: 2%;
} 
#in { 
    font-size: 15px;
    margin-right:2%;
    cursor: pointer;
} 


header a { 
    text-decoration: none; 
    color: #333; 
} 

#userMenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 2%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 80px;
}

#userMenu button {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    text-align: left; /*Изменено на left */
    border: none;
    background: none;
    cursor: pointer;
}

main { 
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items:start; 
} 

.profile-form { 
    background-color: #fff; 
    margin-top:15px;
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 70%; 
} 

.field{
    font-family: sans-serif; 
    margin: 0; 
    display: flex; 
    flex-direction:row; 
}
.profile-form label { 
    width: 25%; 
    display: block; 
    margin-bottom: 5px;
} 

.profile-form input,
.profile-form select { 
    width: 75%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    box-sizing: border-box; 
    height: 35px; 
} 



.profile-form button { 
    width: 105px; 
    padding: 10px; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer; 
    background-color: #007bff; 
    color: #fff; 
    height: 40px; 
    font-size: 16px; 
    float: right;
} 

footer { 
    background-color: #ececec; 
    padding: 10px; 
    text-align: start; 
    font-size: 16px; 
    color: #666; 
    
   
} 
.foottext {   
    margin-left:16%; 
    margin-top: 14px;
    margin-bottom: 14px; 
} 